.heading{
    font-size: 23px;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    width: 100%;
}

.note{
    color: black;
    font-size: 15px;
}

.copy_right_footer{
    color: white;
    background-color: grey;
    width: 100%;
    line-height: 3;
    bottom: 0;
    position: fixed;
    text-align: center;
    font-size: 17px;
}

canvas{
    border: 5px solid darkgoldenrod;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

#square_side{
    background-color: black;
    color: chartreuse;
    font-size: 25px;
}